<!DOCTYPE html>
<html>
<header><center><img src="{{url('/') == 'http://mtics-ma.tuptaguig.com' ? asset('public/images/logo/mtics_header.png') : asset('images/logo/mtics_header.png')}}"  height="140" width="627">
<h4>Monthly Financial Report<br>
MTICS FUND (S.Y year-year )</center>


</h4>
</header>
<body>
<br>

<h2>MTICS Bank Status</h2>
<h3>Current MTICS BANK FUND AMOUNT: P{{$mticsbankamount}}.00</h3>
<h4>Deposit details</h4><br>
@foreach($deposits as $deposit)
{{$deposit->deposit_source}} @if($deposit->deposit_desc !== null and $deposit->deposit_desc !== "")- {{$deposit->deposit_desc}}<br>@endif
<div align="right">P{{$deposit->deposit_amt}}.00</div>
@endforeach
<h3><b>Total Cash deposit for the month of {{$budgetmonth}} ------------------------------------  P{{$totaldeposit}}.00</b></h3>


<h4>Withdraw details:</h4><br>
@foreach($withdrawals as $withdrawal)
{{$withdrawal->withdrawal_reason}} @if($withdrawal->withdrawal_desc !== null and $withdrawal->withdrawal_desc !== "")- {{$withdrawal->withdrawal_desc}} <br>@endif
<div align="right">P{{$withdrawal->withdrawal_amt}}.00</div>
@endforeach
<h3><b>Total Cash Withdraw for the month of {{$budgetmonth}} ------------------------------  P{{$totalwithdraw}}.00</b></h3>



<?php $expensestotal=0; ?>
<?php $expensestotalall=0; ?>
<br><br>
<h2>Expenses</h2>
@foreach($monthly_budgets as $monthly_budget)
<h4>Requested Monthly Budget: {{$monthly_budget->budget_name}} (P{{$monthly_budget->budget_amt}}.00)</h4>


    @foreach($monthly_budget->budget_breakdown as $budget_breakdown)
    @if(!$budget_breakdown->budget_expenses->isEmpty())
    Category: {{$budget_breakdown->budget_expenses_cat->name}}<br>
        @foreach($budget_breakdown->budget_expenses as $budget_expenses)

        <div class="row">- {{$budget_expenses->expense_name}} <div align="right"> P{{$budget_expenses->expense_amt}}.00</div></div>
        @if($budget_expenses->expense_desc !== null and $budget_expenses->expense_desc !== "")
        description: {{$budget_expenses->expense_desc}}<br>
        @endif
        <?php $expensestotal = $expensestotal + $budget_expenses->expense_amt; ?>
        @endforeach
    @endif
    @endforeach


    <?php $expensestotalall = $expensestotalall + $expensestotal;  $expensestotal = 0; ?>
@endforeach

<br><br><br>
<b>Request to buy Expenses</b><br>
@foreach($externaltasks as $externaltask)
@foreach($externaltask->mticspurchaselist as $mticspurchaselist)
- {{$mticspurchaselist->mtics_itemname}}({{$mticspurchaselist->mtics_act_quan}} pc/s) <div align="right">P{{$mticspurchaselist->mtics_total_price}}.00</div>
<?php $expensestotal = $expensestotal + $mticspurchaselist->mtics_total_price; ?>
@endforeach

    <?php $expensestotalall = $expensestotalall + $expensestotal;  $expensestotal = 0; ?>
@endforeach
    <br><br>
    <div align="right"><b>Total Expenses = {{$expensestotalall}}</b><br><br><br>
    <div align="right"><b>{{$totalwithdraw}}</b><br>
    <div align="right"><b>-{{$expensestotalall}}</b><br>

-----------------------------<br>
total cash in hand = P{{$totalwithdraw - $expensestotalall}}.00 <br>





<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    window.print()
  });
</script>

</body>
</html>
